@font-face {
    font-family: "funny font";
    src: url("./assets/fonts/RubikMoonrocks-Regular.ttf");
}

:root {
    --background-color: #BAE2DA;
    --logo-container-color: rgba(0, 0, 0, 0.1);
    --form-background-color: whitesmoke;
    --logo-title-color: rgb(22, 63, 93);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}


/* - - - LEFT SIDE - - - */
#left-side {
    height: 100vh;
    width: 33vw;
    background-image: url("./assets/images/background-image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

#left-side #logo-container {
    background-color: var(--logo-container-color);
    width: 100%;
    height: 150px;
    margin-top: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container #logo-image {
    height: 70%;
}

#logo-container #logo-text {
    font-family: "funny font";
    font-size: 80px;
    color: var(--logo-title-color);
}


/* - - - RIGHT SIDE - - - */
#right-side {
    background-color: var(--background-color);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-side #form-container {
    background-color: var(--form-background-color);
    width: 80%;
    height: 66%;
    border-radius: 50px;
}

#right-side #form-title {
    font-size: 60px;
    font-family: "funny font";
    text-align: center;
    color: var(--logo-title-color);
}

#right-side #contact-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#contact-form input {
    width: 350px;
    height: 50px;
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid gray;
    outline: none;
    padding-left: 10px;
}

#contact-form input:focus {
    border-color: blue;
}

#contact-form input:not(:placeholder-shown):valid {
    border-color: green;
}

#contact-form input:not(:placeholder-shown):invalid {
    border-color: red;
}

#contact-form label {
    font-size: 30px;
}

#contact-form #input-container {
    display: flex;
    flex-direction: column;
    color: var(--logo-title-color);
    font-weight: bold;
}

#contact-form #form-line {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

#contact-form button {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 15px;
}

#contact-form #reset-btn {
    background-color: #F88F8F;
}

#contact-form #submit-btn {
    background-color: #8DD8A6;
}

#contact-form buttons {
    margin-top: 60px;
}